.sector {
    font-family:Retina Narrow,Retina,Arial Narrow,Arial,Helvetica,sans-serif;
    display:table;
    z-index:10;
    height:35px;
    margin:0 auto;
    padding:0;
    background-color:#000;
    font-size:13px;
    color:#fff;
    width: 100%
}

.ticker {
    display:table-cell;vertical-align:middle;line-height:14px;white-space:nowrap;font-size:14px;text-align:center
}

.ticker-link {
    text-decoration:none;outline:none;color:inherit
}

.ticker-link:visited {
    color:inherit
}

.display-price {
    margin:0 0 0 5px
}

.space {
    margin:0 0 0 6px
}

.ticker-up {
    color:#68be0a
}

.ticker-down {
    color:#ff352d
}

.ticker-link:hover{
    color:#999;text-decoration:none
}