
<!-- etf banner start -->
<div class="sector">
  <div class="ticker" *ngFor="let etf of etfs">
    <a class="ticker-link">
      <span>{{etf.symbol}}</span>
      <span class="display-price">{{etf.lastPrice.toFixed(2)}}</span>
      <span class="ticker-down" *ngIf="etf.netPercentChangeInDouble < 0.0">{{etf.netPercentChangeInDouble.toFixed(2)}}%</span>
      <span class="ticker-up space" *ngIf="etf.netPercentChangeInDouble > 0.0">{{etf.netPercentChangeInDouble.toFixed(2)}}%</span>
      <span class="ticker-down space" *ngIf="etf.netPercentChangeInDouble < 0.0">▼</span>
      <span class="ticker-up space" *ngIf="etf.netPercentChangeInDouble > 0.0">▲</span>
    </a>
  </div>
</div>
<!-- etf banner end -->

<!-- navigation bar start-->
<nav class="navbar navbar-expand-sm navbar-light">
    <img src="../assets/images/nav_logo.png" class="rounded-circle" routerLink="/home">
    <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span><i class="fas fa-bars"></i></span>
    </button>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0" id="navbar">
        <ul class="navbar-nav text-center">
            <li class="nav-item active">
                <a class="nav-link" aria-current="page" routerLink="/"><i class="fa-solid fa-chart-column"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="fa-solid fa-bell"></i></a>
            </li>
        </ul>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input"
        type="checkbox" role="switch" id="flexSwitchCheckDefault"
        [checked]="darkMode$ | async"
        (change)="onToggle()"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault">Theme</label>
    </div>
</nav>
<!-- navigation bar end-->