@import url("~bootstrap/dist/css/bootstrap.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
}

body.dark-mode {
    background-color: #171717;
    color: #f1f2f6;
}
  
body.light-mode {
    background-color: #f1f2f6;
    color: #2f3542;
}

/* Navigation bar section */
.navbar {
    border-bottom: 1px solid rgb(151,151,151);
}
.navbar .navbar-nav .nav-link {
    color: #323233!important;
    font-size: 1.5em;
}
.dark-mode .navbar .navbar-nav .nav-link {
    color: rgb(200, 200, 200) !important;
    font-size: 1.5em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #cf9f15!important;
}
.navbar .navbar-nav > .active > a {
    color: #cf9f15!important;
}
.navbar .pos-fix {
    position: absolute;
    top: 10px;
    right: 10px;
}
.navbar .nav-item {
    width: 100px;
}
.navbar .nav-item img {
    width: 50%;
}
.dark-mode .navbar-toggler {
    color: rgb(200, 200, 200) !important;
    border-color: rgb(200, 200, 200) !important;
}